default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\LikerContext

    extensions:
        Imbo\BehatApiExtension:
            apiClient:
                base_uri: http://localhost
                timeout: 15.0
                verify: false
